@page "/Service/{id:guid}"
@model MCServerManager.Pages.Service.ServiceModel
@{
    ViewData["Title"] = Model.Service.Name;
}

<script defer type="text/javascript" src="~/js/Service/ControlService.js" asp-append-version="true"></script>

<h4 class="card-title">
    @Model.Service.Name
</h4>
<div class="row">
    <div class="col-sm-6">
        <div id="ChangeServerStatus">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success" id="StartServer" style="display: @Model.ButtonStyle[$"StartButton:{@Model.Service.State.ToString()}"];">Включить</button>
                    <button type="button" class="btn btn-secondary" id="CloseServer" style="display: @Model.ButtonStyle[$"CloseButton:{@Model.Service.State.ToString()}"];" title="Отключить не дожидаясь сохранения данных.">Отключить</button>
                </div>
                <div class="col-auto text-end">
                    <a asp-controller="Service" asp-action="Console" asp-route-id="@Model.Service.Id" class="btn btn-dark" role="button">Консоль</a>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="StatusService">Состояние сервиса: @Model.Service.State</li>
            <li class="list-group-item">Автозапуск: @Model.Service.AutoStart</li>
            <li class="list-group-item">Автовыключение: @Model.Service.AutoClose</li>
            <li class="list-group-item">Расположение сервиса: @Model.Service.WorkDirectory</li>
            <li class="list-group-item">Программа для запуска: @Model.Service.Program</li>
            @if (@Model.Service.Arguments != null)
            {
                <li class="list-group-item">Аргументы запуска: @Model.Service.Arguments</li>
            }
            @if (@Model.Service.Address != null)
            {
                <li class="list-group-item">Адрес сервера: @Model.Service.Address</li>
            }
            @if (@Model.Service.Port != null)
            {
                <li class="list-group-item">Порт: @Model.Service.Port</li>
            }
        </ul>
        <br />
        <a asp-page="/Service/Edit" asp-route-id="@Model.Service.Id" class="btn btn-primary" role="button">Редактировать</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Удалить
        </button>
        <br />
        <br />
        <a asp-page="/Server/Server" asp-route-Id="@Model.Service.GameServerId">@("<К серверу")</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удалить сервис</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить данный сервис? Это действие нельзя отменить.
            </div>
            <div class="modal-footer">
                <a asp-page-handler="Delete" class="btn btn-secondary" role="button">Удалить</a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>