@page "/List/{PageIndex:int?}"
@model ListModel
@inject SignInManager<IdentityUser> SignInManager
@{
}

<div class="col-md-12 text-end">
    <a asp-page="/Server/Add" class="btn btn-success">Добавить сервер</a>
</div>
<br />
@if (Model.Servers.Count != 0)
{
    @foreach (var server in Model.Servers)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">@server.Name</h5>
                    </div>
                    <div class="col">
                        @if (server.Address != null && server.Port != null)
                        {
                            <p class="card-text">@server.Address:@server.Port</p>
                        }
                        else if (server.Address != null && server.Port == null)
                        {
                            <p class="card-text">@server.Address</p>
                        }
                    </div>
                    <div class="col-auto text-end">
                        <p class="card-text">Количество игроков: @server.UserList.Count</p>
                    </div>
                </div>
                <div class="col-auto text-end">
                    <a asp-page="/Server/Server" asp-route-serverId="@server.ServerId" class="btn btn-primary">Информация о сервере</a>
                </div>
            </div>
        </div>
    }
    @if (Model.PageCount > 1)
    {
        <partial name="_ListPaginationPartial" model="(Model.PageIndex, Model.PageCount)" />
    }
}
else
{
    <div class="text-center">
        <h4 class="display-4">Серверы еще не добавлены</h4>
    </div>
}
