@page "/Server/{serverId:guid}"
@using MCServerManager.Library.Data.Models
@model MCServerManager.Pages.Server.ServerModel
@{
    ViewData["Title"] = Model.Exemplar.Name;
}

<script defer type="text/javascript" src="~/js/Server/ControlGameServer.js" asp-append-version="true"></script>

<h4 class="card-title">
    @Model.Exemplar.Name
</h4>

<div class="row">
    <div class="col-sm-6">
        <div id="ChangeServerStatus">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success" id="StartServer" style="display: @Model.ButtonStyle[$"StartButton:{@Model.Exemplar.State.ToString()}"];">Включить</button>
                    <button type="button" class="btn btn-warning" id="RebootServer" style="display: @Model.ButtonStyle[$"RebootButton:{@Model.Exemplar.State.ToString()}"];">Перезагрузить</button>
                    <button type="button" class="btn btn-danger" id="StopServer" style="display: @Model.ButtonStyle[$"StopButton:{@Model.Exemplar.State.ToString()}"];">Выключить</button>
                    <button type="button" class="btn btn-secondary" id="CloseServer" style="display: @Model.ButtonStyle[$"CloseButton:{@Model.Exemplar.State.ToString()}"];" title="Отключить не дожидаясь сохранения данных.">Отключить</button>
                </div>
                <div class="col-auto text-end">
                    <a asp-controller="Server" asp-action="Console" asp-route-id="@Model.Exemplar.ServerId" class="btn btn-dark" role="button">Консоль</a>
                </div>
            </div>
		</div>
        <br />
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="StatusServer">Состояние сервера: @Model.Exemplar.State</li>
            <li class="list-group-item">Автозапуск: @Model.Exemplar.AutoStart</li>
            <li class="list-group-item">Расположение сервера: @Model.Exemplar.WorkDirectory</li>
            <li class="list-group-item">Программа для запуска: @Model.Exemplar.StartProgram</li>
            @if (@Model.Exemplar.Arguments != null)
            {
                <li class="list-group-item">Аргументы запуска: @Model.Exemplar.Arguments</li>
            }
            @if (@Model.Exemplar.Address != null)
            {
                <li class="list-group-item">Адрес сервера: @Model.Exemplar.Address</li>
            }
            @if (@Model.Exemplar.Port != null)
            {
                <li class="list-group-item"> Порт: @Model.Exemplar.Port</li>
            }
        </ul>
        <br />
        <a asp-page="/Server/Edit" asp-route-serverId="@Model.Exemplar.ServerId" class="btn btn-primary" role="button">Редактировать</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Удалить
        </button>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <p class="card-text">Сервисы</p>
            </div>
            <div class="col-auto text-end">
                <a asp-page="/Service/Add" asp-route-serverId="@Model.Exemplar.ServerId" class="btn btn-primary" role="button">Добавить</a>
            </div>
        </div>
        <br />
        @foreach (var item in @Model.Exemplar.Services)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text">@item.Name</p>
                        </div>
                        <div class="col" >
                            <div class="card-text" style="display:inline;">Состояние: </div><div class="card-text" style="display:inline;"> @item.State.ToString()</div>
                        </div>
                        <div class="col-auto text-end">
                            <a asp-page="/Service/Service" asp-route-serviceId="@item.ServiceId" class="btn btn-info" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
        
    </div>
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col">
                        <p class="card-text">Игроки</p>
                    </div>
                    <div class="col-auto text-end">
                        <p class="card-text" id="user-count">Количество игроков: @Model.Exemplar.UserList.Count</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="user-list">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удалить сервер</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить данный сервер? Это действие нельзя отменить.
            </div>
            <div class="modal-footer">
                <a asp-page-handler="Delete" class="btn btn-secondary" role="button">Удалить</a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
